body{
    background-color: #C2C2C2;
}

.container-lg{
    height: 100lvh;
}
.navbar{
    margin-bottom: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 3;
}
.nav{
    &-link{
        color: #C2C2C2;
        font-weight: 700;
        &:hover, &:focus{
            background-color: #C2C2C2;
        }
    }
}
.dropdown .show{
    background-color: #C2C2C2;
}

.card{
    width: 100%;
    margin-bottom: 1.5rem;

    &-img{
        &-top, &-center{
            object-fit: cover;
        }

        &-top{
            height: 15rem;
        }

        &-center{
            height: 20rem;
        }
    }
    &-header{
        color: #C2C2C2;
    }
    &-text{
        margin: 1rem;
        height: 100%;
    }
}
.col-9{
    width: 100%;
}
.col-sm-3{
    width: 100%;
}


@media (min-width:1240px) {
    .card{
        &_main{
            height: 85lvh;
            position: sticky;
            top: 7.5rem;
        }
    }
    .col-9{
        width: 75%;
    }
    .col-sm-3{
        width: 25%;
    }

}